@model MyTE.Models.WBS

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";

}

<div class="d-flex flex-wrap justify-content-between">
    <div class="col-md-5 h-100 mx-auto">
        <a class=" d-flex align-items-center gap-1 text-primary fs-5 text-decoration-none" asp-action="Index">
            <i class="bi bi-arrow-left-short fs-3"></i>Voltar
        </a>
        <h1 class="mb-3 text-primary fw-bold">Criar nova WBS</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Code" class="form-control" placeholder="code" />
                <label asp-for="Code" class="form-label text-secondary"></label>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Desc" class="form-control" placeholder="desc" />
                <label asp-for="Desc" class="form-label text-secondary"></label>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Type" class="form-control">
                    <option value="1">Chargable</option>
                    <option value="2">Non-Chargable</option>
                </select>
                <label asp-for="Type" class="form-label text-secondary"></label>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-lg btn-primary w-100 fw-bold" />
            </div>
        </form>
    </div>

    <div class="col-md-6 d-none d-md-block">
        <img class=" createImage w-100" src="~/img/artSq.jpg" alt="Arte decorativa" />
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
