@{
    var isDifferent = ViewData["Title"] != null && (ViewData["Title"].ToString() == "Perfil" || ViewData["Title"].ToString() == "Relatórios" || ViewData["Title"].ToString() == "Relatório");
    var isReport = ViewData["Title"] != null && (ViewData["Title"].ToString() == "Relatórios" || ViewData["Title"].ToString() == "Relatório");
    var cssClass = isDifferent ? "bg-violet" : "";
}

<!DOCTYPE html>
<html lang="pt-br" class="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyTE</title>
    <link rel="stylesheet" href="~/css/bootstrap.custom.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyTE.styles.css" asp-append-version="true" />
</head>
<body class="@cssClass">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Records" asp-action="Index" class="logo-sm navbar-brand"><img src="~/img/logo.png" alt="Logo" /> MyTE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="Index">Registro de Horas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Níveis de Acesso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Usuários</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="WBS" asp-action="Index">WBS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Departamentos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Relatórios
                            </a>
                            <ul class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="AdminView">Funcionários</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="AdminViewWBS">WBS</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="PowerBiReport">Power BI</a>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @if (isReport)
    {
        <div class="">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }


    @if (isReport)
    {
        <footer class="d-none">
        </footer>
    }
    else
    {
        <footer class="border-top footer bg-white text-muted z-n1">
            <div class="container">
                &copy; 2024 - MyTE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>