@model IEnumerable<MyTE.Models.ApplicationUser>

Report

<form asp-action="ExportService">
    <button type="submit" class="btn btn-primary">Gerar CSV (Service)</button>
</form>

<form asp-action="Service">
    <button type="submit" class="btn btn-warning">Gerar CSV Dinâmico</button>
</form>

<h2>Funcionários</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome do Funcionário</th>
            <th>Departamento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Department.Name</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>