@{
    ViewBag.Title = "Relatórios";
}

<h2>Relatórios</h2>

<div class="d-grid gap-2 mt-4">
    <form asp-action="ExportWBS">
        <button type="submit" class="btn btn-success">Gerar CSV (WBS)</button>
    </form>
</div>

<h2 class="mt-4">Horas de cada WBS</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id WBS</th>
            <th>Descrição</th>
            <th>Total de Horas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            bool primeiraLinha = true;
            foreach (var item in ViewBag.HorasPorWBS)
            {
                string classeLinha = primeiraLinha ? "table-success" : "";
                primeiraLinha = false;

                var wbsDesc = ViewBag.DescricoesWBS[item.Key] as string ?? "Sem descrição";

                <tr class="@classeLinha">
                    <td>@item.Key</td>
                    <td>@wbsDesc</td>
                    <td>@item.Value</td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
