@model IEnumerable<MyTE.DTO.RecordDTO>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<form asp-action="Create">

    <p>
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </p>
    
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label>Data Inicial</label>
                <input type="date" name="startDate" class="form-control" />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group">
                <label>Data Final</label>
                <input type="date" name="endDate" class="form-control" />
            </div>
        </div>
        <div class=" col-3">
            <button type="submit" class="btn  btn-primary">Filtrar</button>
        </div>
    </div>
   
    <table class="table">
        <thead>
            <tr>
                <th>
                    WBS
                </th>
                @foreach (var record in Model.First().records) {
                    <th>
                        @Html.DisplayFor(modelItem => record.Data.Day)
                     </th>
                }
                <th>
                   Total
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.WBS.Code)</td>
                    @foreach (var record in item.records)
                    {
                        <td>
                            <input asp-for="@record.Hours" class="form-control" />
                        </td>
                    }
                    <td>@Html.DisplayFor(modelItem => item.TotalHours)</td>
                
                </tr>
            }
            <tr>
                <td></td>
                @for (int i = 0; i <= 15; i++) {
                    <td>
                        {Model.First().TotalHoursDay[i]}
                    </td>
                }
                <td></td>
            </tr>
        </tbody>
    </table>
  
</form>